<html>
    <head>
        {% if some_str %}
        <title> {{ some_str }}</title>
        {% else %}
        <title>Hm, there is no string!</title>
        {% endif %}
    </head>
    <body>
    <article>
        <h1 style="color:{{ some_pars.color }};">Hello, {{ some_pars.user}}!</h1>
        <hr>
        <section>
            <div>
                <h2>Какое-то значение: {{ some_value}}!</h2>
                
                <p style="color:{{ some_pars.color }};"> Ptilopsis </p>>
            </div>>
            <div>
                <h3>
                    <a href="https://github.com/Luzinsan/lr3_web"> <img src="./static/Ptilopsis.full.2619953.jpg"> </a>
                </h3>>
            </div>>
        </section>>
    </article>>
    </body>
</html>
